<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lookup games streams on Twitch</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <style>
    .video-list {
      display: flex;
      flex-wrap: wrap;
    }
    .video-item {
      margin: 10px;
      width: 200px;
    }
    .video-item img {
      width: 100%;
      cursor: pointer;
    }
    .pagination {
      margin-top: 20px;
    }
    .pagination button {
      margin: 0 5px;
    }
    .placeholder {
      background-color: #ccc;
      width: 100%;
      height: 112.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>Lookup games streams on Twitch</h1>

    <div>
      <a href="http://localhost:8000/login">
        <button>Twitch login</button>
      </a>
    </div>

    <input type="text" v-model="searchQuery" placeholder="Enter game's name">
    <button @click="searchVideos(null)">Search Videos</button>
    <div class="video-list">
      <div class="video-item" v-for="video in videos" :key="video.id" @click="openVideo(video.url)">
        <div v-if="isPlaceholder(video.thumbnail_url)" class="placeholder">
          Thumbnail not available
        </div>
        <img v-else :src="video.thumbnail_url" alt="Thumbnail">
        <p>{{ video.title }}</p>
      </div>
    </div>
    <div class="pagination">
      <button @click="previousPage" :disabled="!pagination.previousCursor">Previous</button>
      <button @click="nextPage" :disabled="!pagination.hasNext">Next</button>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        searchQuery: '',
        videos: [],
        pagination: {
          previousCursor: null,
          nextCursor: null,
          hasNext: false
        },
        refreshInterval: null
      },
      methods: {
        async searchVideos(cursor = null) {
          if (this.searchQuery.trim() === '') {
            this.videos = [];
            return;
          }

          try {
            // Get the game id
            const gameIdUrl = `http://localhost:8000/api/get-game-id?game_name=${this.searchQuery}`;
            const gameIdResponse = await fetch(gameIdUrl);
            if (!gameIdResponse.ok) {
              throw new Error('Failed to fetch game ID');
            }
            const gameIdData = await gameIdResponse.json();
            const gameId = gameIdData.game_id;

            // Look for videos by game id
            const videosUrl = `http://localhost:8000/api/search-videos?game_id=${gameId}${cursor ? `&after=${cursor}` : ''}`;
            const videosResponse = await fetch(videosUrl);
            if (!videosResponse.ok) {
              throw new Error('Failed to fetch videos');
            }
            const videosData = await videosResponse.json();
            this.videos = videosData.videos.map(video => {

              const thumbnailUrl = video.thumbnail_url
                .replace('{width}', '320')
                .replace('{height}', '180')
                .replace('%320x%180', '320x180');

              return {
                id: video.id,
                title: video.title,
                thumbnail_url: thumbnailUrl,
                url: `https://www.twitch.tv/videos/${video.id}`
              };
            });

            // Update pagination data
            this.pagination.previousCursor = cursor;
            this.pagination.nextCursor = videosData.pagination.cursor;
            this.pagination.hasNext = !!videosData.pagination.cursor;
          } catch (error) {
            console.error('Error while looking for videos:', error);
          }
        },
        nextPage() {
          if (this.pagination.hasNext) {
            this.searchVideos(this.pagination.nextCursor);
          }
        },
        previousPage() {
          if (this.pagination.previousCursor) {
            this.searchVideos(this.pagination.previousCursor);
          }
        },
        isPlaceholder(url) {
          return url.includes('404_processing') || url.includes('%320x%180');
        },
        openVideo(url) {
          window.open(url, '_blank');
        }
      },
      mounted() {
        this.refreshInterval = setInterval(() => {
          this.searchVideos(this.pagination.cursor);
        }, 120000); // 2 minutes
      },
      beforeDestroy() {
        if (this.refreshInterval) {
          clearInterval(this.refreshInterval);
        }
      }
    });
  </script>
</body>
</html>
